---
layout: base-layout.njk
---


<div class="about-content">
    <h2> About Coding with Luce </h2>

    <p>
        <strong>Luce</strong> is a Microsoft MVP, Twilio Champion and software developer based in Manchester, England. 
        She works as a QA at a data science company during the day.
    </p>
    <p>
        When not writing mobile apps in Xamarin for fun in her spare time she curates the Xamarin Weekly newsletter, edits Montemagno.com and speaks at various user groups around Europe and the UK. Drop her a line via <a href="mailto:luce@lucyscarter.co.uk">email</a>.
        She can also be found streaming on Twitch at <a href="https://twitch.tv/codingwithluce">CodingWithLuce</a>.
    </p>
</div>