---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
<div class="hero-image">
  <div class="hero-text">
    <h1 class="hero-title">Welcome!</h1>
    <p class="hero-subtitle">My name is Luce Carter. I'm a Xamarin loving Microsoft MVP, Twilio Champion, blogger and speaker based in Manchester, UK.</p>
    
    <div class="hero-socials">
      <a href="https://twitter.com/LuceCarter1"><i class="fab fa-twitter fa-3x hero-icons"></i></a>
      <a href="https://github.com/LuceCarter"><i class="fab fa-github fa-3x hero-icons"></i></a>
    </div>
  
  </div>
</div>

<div class="dad-jokes">
    <p class="dad-jokes-title">Hurr Hurr:</p>
    <h3 class="dad-jokes-joke" id="dadJoke"></h3>
</div>

<div class="content">

  <h2 class="content-title">Latest Articles</h2>

    {% for post in posts %}
      <article>
        <time class="post-time" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

        <a class="post-title-link" href="{{ post.url | url }}">
            <h3 class="post-title">{{ post.data.title }}</h3>
        </a>

        <p class="post-excerpt">
         {% excerpt post %}
        </p>

        <a class="post-read-button" href="{{ post.url | url }}">Read more</a>

      </article>
{% endfor %}

  <nav class="pagination">
    {%- for pageEntry in pagination.pages %}
      <a 
      class="pagination-link{% if page.url == pagination.hrefs[ loop.index0 ] %} pagination-link-current{% endif %}"
      href="{{ pagination.hrefs[ loop.index0 ] }}"
      {% if page.url == pagination.hrefs[ loop.index0 ] %} 
      aria-current="page"{% endif %}>{{ loop.index }}</a>
    {%- endfor %}
  </nav>
 <script src="/js/dadJoke.js"></script>
</div> 