---
layout: base-layout.njk
---
<head>
  <link href="../../Styles/styles.css" rel="stylesheet">
</head>
<div class="post-content">
  <article>
    <time class="article-date" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
      <h2 class="post-title">{{ title }}</h2> 
      {{ content | safe }}
    </article>
</div>