---
layout: base-layout.njk
---
<head>
  <link href="../../Styles/styles.css" rel="stylesheet">
</head>
<div class="post-content">
  <article>
  <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
    <h1 class="post-title">{{ title }}</h1> 
    {{ content | safe }}
  </article>
</div>