<header class="header">
    <div class="header-container">
        <a href="/index.html" class="header-link">
            <i class="fas fa-home header-icon"></i> <h1 class="header-title">Coding with Luce</h1> 
        </a>
        <nav class="header-navigation">
            <ul class="header-navigation-list">
                <li class="header-navigation-list-item">
                    <a href="/About/index.html" class="header-navigation-list-item-link">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>